/*@import url("bootstrap.min.css");*/
/*@import url("bootstrap-theme.css");*/

body {
  padding:0px 0px;
/*  background-color:#F4DCB5; */  /* orange */
/*  background: #E5F4DB; */ /* green */
/*  background: url("../images/pat.png"); */
  font-family: 'Actor', sans-serif; 
  color: black;
  position: relative;  /* needed for scrollspy.js */
}

section .container  {
  /*background:white;*/
  background:white;  
  border-radius: 0px;
  font-size: 2.5em;
  padding:10% 50px;
}

footer .container-fluid {
  padding:100px 50px;
  margin:0px auto;
  background:#474747; 
  color:white;
  font-size: 2.0em;
}

.navbar {
  opacity: 0.9;
}

.navbar-inner {
/*  background-color: rgba(0, 0, 0, 0.20);*/
}

.slide-in {
    top:-100px;
}

.navslide {
  transition:top 3s ease-in-out;
}

.carousel-caption {
  transition:left 3s ease 0s;
  transition:opacity 3s ease 3s;
}

nav li:active {
  color:white;
}

#mycarousel .img-responsive {
  margin:0px auto;
}

#mycarousel img {
/*
  -webkit-filter: sepia(1) blur(2px);
  filter: sepia(1) blur(2px);

  -webkit-filter: blur(2px);
  filter: blur(2px);
*/
}

.carousel-caption  h1 {
  font-size: 7vw;
}

.carousel-caption {
  position: absolute;
  top: 25%;
}

.carousel-caption p  {
  font-size: 3vw;
}


section h2 {
  font-family: 'Cedarville Cursive', cursive;
  margin-bottom:40px;
  font-size: 2em;
  font-style:italic;
}

  
.tile {
  width:300px;
  height:282px;
  border:1px solid black;
  margin-top:5%;
  margin-bottom:5%;
  margin-left:1%;
  margin-right:1%;
  border-radius:5px;

  display:inline-block;
  -webkit-transition: background-position 0.5s ease 0s;
  -moz-transition: background-position 0.5s ease 0s;
  -o-transition: background-position 0.5s ease 0s;
  transition: background-position 0.5s ease 0s;
}
   
.music {
  background:url('../images/musicstitch2.jpg');
  -webkit-transition: background-position 0.5s ease 0s;
  -moz-transition: background-position 0.5s ease 0s;
  -o-transition: background-position 0.5s ease 0s;
  transition: background-position 0.5s ease 0s;
}

.tech {
  background:url('../images/techstitch2.jpg');
  -webkit-transition: background-position 0.5s ease 0.5s;
  -moz-transition: background-position 0.5s ease 0.5s;
  -o-transition: background-position 0.5s ease 0.5s;
  transition: background-position 0.5s ease 0.5s;
}

.food {
  background:url('../images/foodstitch2.jpg');
  -webkit-transition: background-position 0.5s ease 0.9s;
  -moz-transition: background-position 0.5s ease 0.9s;
  -o-transition: background-position 0.5s ease 0.9s;
  transition: background-position 0.5s ease 0.9s;
}

.tile.active {   
  background-position: 0px 285px;
}

#contact button {
  margin-top:20px;
}

.center {
  text-align:center;
}

.center-block {
  float:none;
  margin: 0 auto;
}

div.fixedImage {
  height:600px;
  background:url("../images/kaiju3.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0% 75%;
}

footer {
/*  background:#8CE9FF;  */
}


