/*@import url("bootstrap.min.css");*/
/*@import url("bootstrap-theme.css");*/

body {
  padding:0px 0px;
/*  background: #3F3F3F;  */ /* gray */
  background: #E5F4DB;
  font-family: 'Actor', sans-serif; 
  color: black;
  position: relative;  /* needed for scrollspy.js */
}

section .container, footer .container {
  /*background:white;*/
  background:white;  
  border-radius: 5px;
  padding:100px 50px;
  font-size: 2.5em;
}

.navbar {
  opacity: 0.9;
}

.navbar-inner {
/*  background-color: rgba(0, 0, 0, 0.20);*/
}

.slide-in {
    top:-100px;
}

.navslide {
  transition:top 3s ease-in-out;
}

nav li:active {
  color:white;
}

#mycarousel .img-responsive {
  margin:0px auto;
}

#mycarousel img {
/*
  -webkit-filter: sepia(1) blur(2px);
  filter: sepia(1) blur(2px);

  -webkit-filter: blur(2px);
  filter: blur(2px);
*/
}

.carousel-caption  h1 {
  font-size: 8vw;
}

.carousel-caption p  {
  font-size: 3vw;
}


section h2 {
  font-family: 'Cedarville Cursive', cursive;
  margin-bottom:40px;
  font-size: 2em;
  font-style:italic;
}

  
.tile {
  width:300px;
  height:282px;
  border:1px solid black;
  margin-top:5%;
  margin-bottom:5%;
  margin-left:1%;
  margin-right:1%;
  transition: background-position 0.5s ease 0s;
  display:inline-block;
}

.tile:hover{
  border:2px solid orange;
}
   
.music {
  background:url('../images/musicstitch2.jpg');
  transition: background-position 0.5s ease 0s;
}

.tech {
  background:url('../images/techstitch2.jpg');
  transition: background-position 0.5s ease 0.5s;
}

.food {
  background:url('../images/foodstitch2.jpg');
  transition: background-position 0.5s ease 0.9s;
}

.tile.active {   
  background-position: 0px 285px;
}

.center {
  text-align:center;
}

.center-block {
  float:none;
  margin: 0 auto;
}

footer {
/*  background:#8CE9FF;  */
}

footer div {
  margin:0px auto;
}
